@property --font {
    font-family: ArcadeClassic;
}

@font-face {
    font-family: ArcadeClassic;
    src: url('./fonts/arcadeclassic/ARCADECLASSIC.woff2');
}

@font-face {
    font-family: PixelifySans;
    src: url('./fonts/PixelifySans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: ArcadeClassic;
    background-color: black;
    color: white;
    margin:0%;
}

[class*="flex-"] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }

.button-options > button {
    width: 50px;
    height: 25px;
}

body {
    text-align: center;
    box-sizing: border-box;
    height: -webkit-fill-available;

}

h2 {
    font-size: 2.5em;
    color: #2ecc71;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 0.25em;
}

input[type="text"] {
    background-color: black;
    border: none;
    color:white;
    font-family: var(--font);
}

button  {
    background-color: white;
    color:black;
    font-family: var(--font);

    padding: 4px;
}

#button-options {
    & > img {
        height: 10px;
        width: 10px;
    }
    & > a {
        color:white;
        text-decoration: none;
    }
}

a:hover {
    cursor: pointer;
    .game-icon {
        filter: invert(100%);
    }
}
/* do ones for button and button hovere */

.user {
    align-items: start;
    justify-content: start;
    gap: 0px;
    align-self: stretch;
    padding: 32;
    border: 2px solid white;
    box-sizing: border-box;
}

.guessed-words {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 2px;
    align-items: start;

    height: 90%;
    max-height: 90%;
    width: 100%;
}